{% load hyperadmin_utils %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

</head>
<body data-api-endpoint="{{api_endpoint}}">
  {% csrf_token %}
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <!-- The missing protocol means that it will match the current protocol, either http or https. If running locally, we use the local jQuery. -->
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{STATIC_URL}}hyperadmin/initializr/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
  -->
<p>
Type "Applications" in your Javascript console to start
</p>
<pre>
var group_entry = Applications.where({resource_class: "crudresource", resource_name:"group"})[0]
var groupCollection = group_entry.getCollection() //get the collection for this resource item
groupCollection.fetch() //fetch the groups, TODO: support pagination
groupCollection.models //shows the existing groups
groupCollection.create({}) //error
groupCollection.create({'name':'test'}) //may give an error if the name is already taken
</pre>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{STATIC_URL}}/backboneclient/client/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="{{STATIC_URL}}backboneclient/underscore-min.js"></script>
  <script src="{{STATIC_URL}}backboneclient/backbone.js"></script>
  <script src="{{STATIC_URL}}backboneclient/app.js"></script>

  <script>
var Root = Hyperadmin.ResourceCollection.extend({url: $("body").attr("data-api-endpoint")})
var Applications = new Root();

Applications.on("error", function() {
    Applications.authenticate("admin", "admin", {"async":false});
    Applications.fetch()
});

Applications.fetch()
</script>
</body>
</html>
